body{
    background-image: url(/images/annie-spratt-osuiatBDTww-unsplash.jpg);
    background-size: 150%;
   
}
.container{
    max-width: 1200px;
}
nav{
   
}

#closed-book{
    display: flex;
    
    justify-content: center;
}
#closed-book-image{
    grid-area: 2 / 2 / 3 / 4;
    text-align: right;
    z-index: 999;
}
#closed-book-image-spec{
   height: 750px;
   z-index: 100;
}

.tabs{
    writing-mode: vertical-rl;
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-evenly;
    height: 600px;
    margin-top: 40px;
    font-size: 14px;
    /* position: relative; */
    /* width: 700px; */
    align-items: top;
    overflow: hidden;
    
}
.side-tabs{
    display: flex;
    align-items: flex-end;
    background-color:rgb(235, 206, 168);
    border-radius: 0 15px 15px 0;
    height: 135px;
    width: 40px;
    justify-content: center;
    z-index: 99;
    /* flex-wrap: wrap; */
}
.side-tabs h2{
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Open book pages */
#open-book{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0px auto;
    height: 750px;
}
.left-page{
    background-color: white;
    width: 600px;
    border-right: 2px solid black;    
}
.right-page{
    background-color: white;
    width: 600px;
    border-left: 2px solid black;
}
.recipe-list{
    height: 600px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.recipe-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
.recipe-cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.recipe-name {
    margin: 0;
    padding-left: 5%;
}
.recipe-cards img{
    width: 90%;
    align-self: center;
}
.recipe-cards p{
    margin: 3% 0;
    padding-left: 5%;
}