*::-webkit-scrollbar{
    display: none;
}
*{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
body{
    background-image: url(/images/countertopBackground.jpg);
    background-size: cover;
}
.container{
    margin-top: 1%;
    margin-bottom: 5%;
}
.open-container{
    margin-top: 1%;
    margin-bottom: 5%;
}
a{
    text-decoration: none;
    color: black;
}
a:active{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
/* Home Page: Closed Book */
#closed-book{
    display: flex;
    /* margin-left: 10%; */
}
#closed-book-image{
    text-align: right;
    z-index: 999;
}
#closed-book-image-spec{
   max-height: 750px;
   z-index: 100;
}
/* side tabs */
.book-tabs-cover{
    writing-mode: vertical-rl;
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    padding-bottom: 2em;
    padding-right: .6%;
    overflow-y: hidden;
    padding-top: 2em;
}
.book-tabs{
    writing-mode: vertical-rl;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    overflow-y: scroll;
    padding-top: 2em;
    margin-left: -15px;
}
.side-tabs{
    display: flex;
    align-items: flex-start;
    background-color:rgb(235, 206, 168);
    border-radius: 0 15px 15px 0;
    padding-left: 1%;
    height: 140px;
    min-width: 40px;
    justify-content: center;
    text-align: center;
    z-index: 99;
}
.side-tabs:hover{
    box-shadow: 2px 2px 2px 2px rgba(235, 206, 168,0.3);
    cursor: pointer;
}
.side-tabs h2{
    font-size: 1em;
    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-tabs-2{
    background-color:rgb(219, 187, 146);
}
.nav-tabs-3{
    background-color:rgb(199, 171, 135);
}
.nav-tabs-4{
    background-color:rgb(163, 139, 110);
}
.nav-tabs-5{
    background-color:rgb(133, 113, 89);
}
/* Open Book Pages */
@media screen and (max-width:1400px){
    .container{
        margin-left: 0;
    }
}
#open-book{
    display: flex;
    max-height:750px;
    border: 15px solid transparent;
    border-image: url(/images/cookBookBorder.png) 60 round;
}
#open-border{
    display: flex;
    width: 1300px;
}
/* Left Page: Single Category/Recipe list  */
.left-page{
    background-image: linear-gradient(to right, white 91%, rgba(0, 0, 0, 0.3));
    background-color: white;
    width: 600px;
    border-right: 2px solid black; 
    height: 100%;   
}
.recipe-flex{
    height: 91%;
    overflow-y: scroll;
    /* -ms-overflow-style: none;  
    scrollbar-width: none;   */
}
/* .recipe-flex::-webkit-scrollbar {
    display: hidden;
} */
.recipe-list{
    /* height: 600px; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.recipe-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
.recipe-cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.recipe-name {
    margin: 0;
    padding-left: 5%;
}
.recipe-cards img{
    width: 90%;
    align-self: center;
}
.recipe-cards p{
    margin: 3% 0;
    padding-left: 5%;
}
/* Right Page: Recipe Page  */
.right-page{
    background-color: white;
    background-image: linear-gradient(to left, white 91%, rgba(0, 0, 0, 0.3));
    width: 600px;
    border-left: 2px solid black;
    height: 100%;
}
.right-page-headers {
    text-align: center;
    font-size: 1em;
    margin: 0;
}
#title {
    text-align: center;
}
.title-header{
    margin:0;
    padding-top: 5px;
    font-size: 1.4em;
    text-align: center;
}
#avgRating{
    color: gold;
    margin-top: 0;
}
#recipe-top {
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 30%
}
#ingredients-list{
    height: 100%;
}
#ingredients-list h2{
    margin: 0;
}
#ingredients-list ul{
    height: 80%;
    overflow-y: scroll;
    /* -ms-overflow-style: none;  
    scrollbar-width: none;   */
}
/* .ingredients-list ul::-webkit-scrollbar {
    display: none;
} */
.recipe-image img{
    width: 100%;
}
.recipe-image{
    width: 50%;
}
h2{
    margin: 0;
}
#instruction-list{
    height: 17em;
    overflow-y: scroll;
}
#instructions ul li {
    margin-right: 10px;
}
/* footer */
footer {
    background-color: #59433E;
    margin-right: 0px;
    padding: 2%;
}
.copyright {
    color: #BFBA73;
    font-weight: 500;
}
/* Dev pop-ups */
.dev-list {
    color: #EFD8AF;
    font-weight: 700;
}
.modal-header{
    background-color: #EFD8AF;
}
.modal-footer{
    background-color: #BF6002;
}
.dev-btn:hover{
    cursor: pointer;
}
.portfolio-link{
    text-decoration: underline;
}
.social-icon{
    width: 50px;
}
.dev-info{
    display: flex;
    flex-direction: column;
}